body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container{
    /* border: 1px solid #000; */
    width: max-content;
    padding: 20px;
    background-color: #e0e0e0;
    margin: auto;
    border-radius: 10px;
}

.game-board {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    cursor: pointer;
    overflow: hidden; 
    border-radius: 5px;
}

.card img {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
    display: none;
}

.card.flipped img {
    display: block;
}

button{
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    box-shadow:5px 5px 5px 0px black;
    background-color:green;
    color: white;
}

button:hover{
    cursor: pointer;
}

#player-display, #scores {
    font-size: 20px;
    margin-top: 25px;
    color: #333;
}

#scores {
    display: flex;
    justify-content: space-around;
}

#score1,#score2{
    border:1px solid black;
    padding: 10px;
    border-radius: 10px;
    background-color:black;
    color: white;
}

@media (max-width: 600px) {
    h1{
        font-size: 40px;
    }

    button,#player-display, #scores {
        font-size: 25px;
    }
}